<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Drawing</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Drawing Speed</string>
			<key>Key</key>
			<string>drawing_speed</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>Titles</key>
			<array>
				<string>Slow</string>
				<string>Normal</string>
				<string>Fast</string>
			</array>
			<key>Values</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>100</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Cracks</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Brittleness</string>
			<key>Key</key>
			<string>crack_density</string>
			<key>DefaultValue</key>
			<string>.00005</string>
			<key>Titles</key>
			<array>
				<string>Low</string>
				<string>Normal</string>
				<string>High</string>
			</array>
			<key>Values</key>
			<array>
				<string>.000005</string>
				<string>.00005</string>
				<string>.0005</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Simultaneous Cracks</string>
			<key>Key</key>
			<string>simultaneous_cracks</string>
			<key>DefaultValue</key>
			<string>4</string>
			<key>Titles</key>
			<array>
				<string>Normal</string>
				<string>Many</string>
				<string>Lots</string>
				<string>Ludicrous</string>
			</array>
			<key>Values</key>
			<array>
				<string>4</string>
				<string>8</string>
				<string>16</string>
				<string>32</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Perpendicularness</string>
			<key>Key</key>
			<string>crack_divergence_from_perpendicular</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>Titles</key>
			<array>
				<string>Perfectly</string>
				<string>Basically</string>
				<string>Relatively</string>
				<string>Not Very</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>2</string>
				<string>5</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Curvature</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Curvature</string>
			<key>Key</key>
			<string>allow_curvature</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Curvature Probability</string>
			<key>Key</key>
			<string>curvature_probability</string>
			<key>DefaultValue</key>
			<string>0.15</string>
			<key>Titles</key>
			<array>
				<string>Low</string>
				<string>Poquito</string>
				<string>Medium</string>
				<string>High</string>
				<string>Always</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.05</string>
				<string>0.15</string>
				<string>0.35</string>
				<string>0.65</string>
				<string>1.0</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Curviness of Curves</string>
			<key>Key</key>
			<string>curvature_rate</string>
			<key>DefaultValue</key>
			<string>0.1</string>
			<key>Values</key>
			<array>
				<string>0.025</string>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Slight</string>
				<string>Noticeable</string>
				<string>Bent</string>
				<string>Wonky</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
